.footer-icons { display: inline; margin: 0 2px; }
.footer-icons a {
    position: relative;
    border-radius: 50%;
    width: 50px; height: 50px; color: #fff;
    display: inline-block;
    font-size: 25px;
    line-height: 50px;
    transition: all 0.3s ease;
    text-align: center;
}
.footer-icons a span {
    position: absolute;
    left: 50%; bottom: -40px;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 1.6;
    padding: 3px 9px;
    border-radius: 6px 0;
    opacity: 0;
    transition: all 0.3s ease;
}
.footer-icons a span:before {
    content: '';
    position: absolute;
    left: 50%; top: -5px;
    margin-left: -5px;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.footer-icons a:hover span {
    opacity: 1;
    bottom: -33px;
}
.footer-icons a:hover {
    box-shadow:
            0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

#github { background-color: #222831; }
#github span { background-color: #222831; }
#github span:before { border-bottom-color: #222831; }
#github:hover { box-shadow: 0 0 0 3px rgba(45, 45, 45, 0.9) inset; }

#medium { background-color: #000000; }
#medium span { background-color: #000000; }
#medium span:before { border-bottom-color: #000000; }
#medium:hover { box-shadow: 0 0 0 3px rgba(20, 20, 20, 0.9) inset; }

#tistory { background-color: #0e9aa7; }
#tistory span { background-color: #0e9aa7; }
#tistory span:before { border-bottom-color: #0e9aa7; }
#tistory:hover { box-shadow: 0 0 0 3px rgba(31, 171, 184, 0.9) inset; }

#facebook { background-color: #0f4c75; }
#facebook span { background-color: #0f4c75; }
#facebook span:before { border-bottom-color: #0f4c75; }
#facebook:hover { box-shadow: 0 0 0 3px rgba(15, 90, 130, 0.9) inset; }

#twitter { background-color: #00a8cc; }
#twitter span { background-color: #00a8cc; }
#twitter span:before { border-bottom-color: #00a8cc; }
#twitter:hover { box-shadow: 0 0 0 3px rgba(64, 186, 213, 0.9) inset; }

#bmc { background-color: #FF5F5F; }
#bmc span { background-color: #FF5F5F; }
#bmc span:before { border-bottom-color: #FF5F5F; }
#bmc:hover { box-shadow: 0 0 0 3px rgba(242, 126, 126, 0.9) inset; }