body {
    background-color: #14192c;
    color: #e5e5e5;
}

h2 {
    font-family: 'Lobster', cursive;
    color: #f8b24f;
}

h4 {
    font-family: "Lobster", cursive;
    color: #ea9a96;
}

button {
    font-family: 'Lobster', cursive;
}

.container {
    max-width: 720px;
}

.lh-condensed { line-height: 1.25; }