/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.footer-distributed{
    position: static;
    bottom: 0;
}

@media (max-height:800px){
    .footer-distributed { position: static; }
}

.container {
    max-width: 680px;
    height: auto;
    padding: 0 15px;
}

